<section class="about-us" id="about">
    <div class="container">
    <div class="about-us__card">
     
        <!-- <picture>
            <source srcset="./images/aboutus-mobile.png, ./images/aboutus-mobile@2x.png 2x" media="(max-width: 767px)">
            <source srcset="./images/aboutus-tablet.png, ./images/aboutus-tablet@2x.png 2x" media="(max-width: 1279px)">
            <source srcset="./images/aboutus-desktop.png, ./images/aboutus-desktop@2x.png 2x">
            <img class="about-us__image" src="./images/aboutus-desktop.png" srcset="./images/aboutus-desktop@2x.png 2x" alt="Cupcake Box"> 
        </picture> -->

        <picture>
            <source srcset="./images/pic.png, ./images/pic@2x.png 2x" media="(max-width: 767px)">
            <source srcset="./images/pic-tablet.png, ./images/pic-tablet@2x.png 2x" media="(max-width: 1279px)">
            <source srcset="./images/pic-desktop.png, ./images/pic-desktop@2x.png 2x">
            <img class="about-us__image" src="./images/pic-desktop.png" srcset="./images/pic-desktop@2x.png 2x" alt="Cupcake Box"> 
        </picture>

<div class="about-us__content">
    <h2 class="about-us__title">About us</h2>
<p class="about-us__description"> Oh My Donut is the shop which adores tasty deserts and spend hours to create sophisticated donuts which will save the world!<br/><br/> 

Eva has been baking since she was six years old and over the last 49 years, she has created hundreds of cakes for weddings and has baked for many celebrities. Eva and our shop have received multiple awards & recognition for excellence.<span id="dots"> </span><br/><br/> 

<span id="more">We are going to teach you how to cook with passion and sparkles in your eyes! We love what we do and believe you will enjoy our cooking atmosphere!!</span>
</p>
<button type="button" class="about-us__button" onclick="myFunction()" id="myBtn">Read more</button>
</div>
</div>

</div>
</section>
<script src="./js/aboutus.js"></script>
