<section class="contact-section">
    <div class="container">
    <h2 class="contact-title">Contact</h2>    
    <form class="contact-form">
        <h3 class="contact-form__title">We will answer any question!</h3>    
        <label class="contact-form__label">
            <input class="contact-form__input contact-email" type="email" placeholder="Email">            
        </label>
        <label class="contact-form__label">
            <input class="contact-form__input contact-text" type="text" placeholder="Type your question">
        </label>
        <button class="button button-centered" type="button">Send</button>
    </form>
    </div>
</section>