<section class="contact" id="contacts">
  <div class="container">
    <h2 class="contact__title">Contact</h2>
    <form class="contact__form">
      <h3 class="contact__form-title">We will answer any question!</h3>
      <label class="contact__form-label">
        <input
          class="contact__form-input-email"
          type="email"
          placeholder="Email"
        />
      </label>
      <label class="contact__form-label">
        <input
          class="contact__form-input-text"
          type="text"
          placeholder="Type your question"
        />
      </label>
      <button class="button button-centered button-big" type="button">
        Send
      </button>
    </form>
  </div>
</section>
