<section class="footer">
    <div class="container">
        <ul class="footer-media">
            <li class="footer-media__item">
                <svg class="footer-media__icon" width="16" height="16">
                    <use href="./images/sprite.svg#twitter"></use>
                </svg>
            </li>
            <li class="footer-media__item">
                <svg class="footer-media__icon" width="16" height="16">
                    <use href="./images/sprite.svg#instagramm"></use>
                </svg>
            </li>
            <li class="footer-media__item">
                <svg class="footer-media__icon" width="16" height="16">
                    <use href="./images/sprite.svg#facebook"></use>
                </svg>
            </li>
        </ul>
        
        <ul class="footer-contacts">    
            <li class="footer-contacts__item">
                <a class="footer-contacts__link" href="tel:9102228855">
                    <svg class="footer-contacts__icon" width="13" height="13">
                        <use href="./images/sprite.svg#icon-phone"></use>
                    </svg>
                    <span>(910)222-8855</span>
                </a>
            </li>

            <li class="footer-contacts__item">
                <a class="footer-contacts__link" href="https://www.google.com/maps/d/u/0/viewer?mid=1IiQ_TjXiV3-jt2PcUa0o9hFqZLA&hl=ru&ll=40.695655935957944%2C-74.04189749598693&z=13">
                    <svg class="footer-contacts__icon" width="11" height="14">
                        <use href="./images/sprite.svg#icon-geo-mark"></use>
                    </svg>
                    <span>New York</span>
                </a>
            </li>
        </ul>
    </div>
</section>
