<header class="header">
  <div class="container container--center">
    <div class="wrapper">
      <a href="" class="logo">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>

      <nav class="nav">
        <li class="nav__item">
          <a href="#about" class="nav__link">About us</a>
        </li>

        <li class="nav__item">
          <a href="#program" class="nav__link">Program</a>
        </li>

        <li class="nav__item">
          <a href="#reviews" class="nav__link">Reviews</a>
        </li>

        <li class="nav__item">
          <a href="#contacts" class="nav__link">Contacts</a>
        </li>
      </nav>
    </div>

    <button type="button" class="mob-menu__open-btn">
      <svg class="mob-menu__icon">
        <use href="./images/sprite.svg#menu"></use>
      </svg>
    </button>

    <h1 class="main-title">Donut Masterclass with the Donut King</h1>
    <h2 class="subtitle">Hosted by Eva Green</h2>
    <a href="#regist" class="button button--header">Register</a>

    <ul class="social-media">
      <li class="social-media__item">
        <svg class="social-media__icon" width="16" height="16">
          <use href="./images/sprite.svg#twitter"></use>
        </svg>
      </li>
      <li class="social-media__item">
        <svg class="social-media__icon" width="16" height="16">
          <use href="./images/sprite.svg#instagramm"></use>
        </svg>
      </li>
      <li class="social-media__item">
        <svg class="social-media__icon" width="16" height="16">
          <use href="./images/sprite.svg#facebook"></use>
        </svg>
      </li>
    </ul>
  </div>
</header>
