<div class="mob-menu is-hidden">
  <!-- is-hidden -->
  <a href="./index.html"
    ><svg class="mob-menu__logo">
      <use href="./images/sprite.svg#logo"></use>
    </svg>
  </a>
  <button class="mob-menu__close-btn" type="button">
    <svg class="mob-menu__close-icon">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mob-menu__list">
    <li class="mob-menu__item">
      <a href="/#about" class="mob-menu__link" onclick="location.reload()"
        >About us</a
      >
    </li>
    <li class="mob-menu__item">
      <a href="/#program" class="mob-menu__link" onclick="location.reload()"
        >Program</a
      >
    </li>
    <li class="mob-menu__item">
      <a href="/#reviews" class="mob-menu__link" onclick="location.reload()"
        >Reviews</a
      >
    </li>
    <li class="mob-menu__item">
      <a href="/#contacts" class="mob-menu__link" onclick="location.reload()"
        >Contacts</a
      >
    </li>
  </ul>
</div>
