<div class="mob-menu is-hidden">
  <!-- is-hidden -->
  <div class="container">
    <div class="logo-thmb">
      <svg class="logo logo--mob-menu">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </div>
    <button class="close-btn" type="button">
      <svg class="icon menu__close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="list mobile-menu-list">
      <li class="mobile-menu-item">
        <a href="" class="link mobile-menu-link">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="link mobile-menu-link">Program</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="link mobile-menu-link">Reviews</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="link mobile-menu-link">Contacts</a>
      </li>
    </ul>
  </div>
</div>
