
<section class="registration__section">
    <div class="container">
        <div class="registration__box"  id="regist">
            <div class="registration__photo">
                <div class="registration__bagel"></div>
                <div class="registration__party"></div>
            </div>
            <h2 class="registration__name">Registration</h2>
            <div class="registration__info">
                <ul class="registration__list">
                    <li class="registration__item"><p class="registration__date">May 23, 11:00</p></li>
                    <li class="registration__item"><p class="registration__date">New York</p></li>
                    <li class="registration__item"><p class="registration__date">$ 699</p></li>
                </ul>
            </div>
            <form class="registration__form" action="">
                <div class="registration__data">
                        <p class="registration__data-apply">Apply your personal info for registration </p>
                        <label class="registration__label">
                            <input class="registration__input contact-name" type="text" placeholder="Your name" pattern="^[a-zA-Z\s]{2,20}" required>            
                        </label>
                        <label class="registration__label">
                            <input class="registration__input contact-number" type="tel" placeholder="Phone number" required>            
                        </label>
                        <label class="registration__label">
                            <input class="registration__input contact-Email" type="Email" placeholder="Email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>            
                        </label>
                </div>  
                <div class="registration__button">
                    <button class="registration__button-options button">Register</button>  
                </div>                
            </form> 
        </div>    
    </div>    
</section>