<p>I am Registration</p>
<section class="registration__section">

    <div class="registration__box">
        <h2 class="registration__name">Registration</h2>
        <div class="registration__info">
            <ul class="registration__list">
                <li class="registration__item"><p class="registration__date">May 23, 11:00
                <li class="registration__item"><p class="registration__date">New York</li>
                <li class="registration__l"><p class="registration__date">$ 699</p></li>
            </ul>
        </div>
<form action=""></form>
        <div class="registration__data">
            <div>
            <p class="registration__data-apply">Apply your personal info for registration </p>
            <ul class="registration__data-input">
                <li class="fog"><p class="registration__data-p">Your name</p></li>
                <li class="fog"><p class="registration__data-p">Phone number</p></li>
                <li class="fog"><p class="registration__data-p">Email</p></li>
            </ul>
            </div>

           lible
           input
        </div>
        
        <div class="registration__button">
            <button class="registration__button-options">Register</button>
        </div>
        
    </div>
</section>

