<section id="reviews">
  <h2 class="reviews__title">Reviews</h2>
  <div class="container">
    <div class="slider">
      <div class="slider-container">
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-1.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>

          <span>Elisabeth</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-5.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Elisabeth</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-3.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Elisabeth</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-8.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>John</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-2.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Will</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-9.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Elisabeth</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-7.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Elisabeth</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-8.png" alt="">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Elisabeth</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img src="./images/reviews/pic-9.png">
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Elisabeth</span>
        </div>




      </div>
      <div class="slider-rewiews">
        <p class="rewievs-text">Last time I have visited a cooking course by Eva<br>
          I was impressed with the way she explained everything<br>
          to people. You can be sure you will manage to cook a delicious dish even if it is your first
          time in the kitchen!
          Thank you so much for the masterclass! Looking forward to the next one and highly recommend it
          to everyone!</p>
        <p class="rewievs-text"></p>
        <p class="rewievs-text">Ignorant saw her her drawings marriage laughter. Case oh an that or away
          sigh do here upon.
          Acuteness you exquisite ourselves now end forfeited. Enquire ye without it garrets up himself.
          Interest our nor received followed was. Cultivated an up solicitude mr unpleasant.</p>
        <p class="rewievs-text">Now principles discovered off increasing how reasonably middletons men. Add
          seems out man met
          plate court sense. His joy she worth truth given. All year feet led view went sake. You
          agreeable breakfast his set perceived immediate. Stimulated man are projecting favourable
          middletons can cultivated.</p>
        <p class="rewievs-text">Lorem Ipsum comes from a latin text written in 45BC by Roman statesman,
          lawyer, scholar, and
          philosopher, Marcus Tullius Cicero. The text is titled "de Finibus Bonorum et Malorum" which
          means "The Extremes of Good and Evil". The most common form of Lorem ipsum is the following:</p>
        <p class="rewievs-text">Lorem ipsum is widely in use since the 14th century and up to today as the
          default dummy "random"
          text of the typesetting and web development industry. In fact not only it has survived the test
          of time but it thrived and can be found in many software products, from Microsoft Word to
          WordPress.</p>
        <p class="rewievs-text">Lorem Ipsum comes from a latin text written in 45BC by Roman statesman,
          lawyer, scholar, and
          philosopher, Marcus Tullius Cicero. The text is titled "de Finibus Bonorum et Malorum" which
          means "The Extremes of Good and Evil". The most common form of Lorem ipsum is the following:</p>
        <p class="rewievs-text">Lorem ipsum is widely in use since the 14th century and up to today as the
          default dummy "random"
          text of the typesetting and web development industry. In fact not only it has survived the test
          of time but it thrived and can be found in many software products, from Microsoft Word to
          WordPress.</p>
        <p class="rewievs-text">Lorem Ipsum comes from a latin text written in 45BC by Roman statesman,
          lawyer, scholar, and
          philosopher, Marcus Tullius Cicero. The text is titled "de Finibus Bonorum et Malorum" which
          means "The Extremes of Good and Evil". The most common form of Lorem ipsum is the following:</p>

      </div>
      <div class="slider-navigation">
        <button class="slider-button action-prev" data-dir="prev">
          <svg class="action__prev--standart" width="36" height="1" viewBox="0 0 35 1" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <line x1="3.05176e-05" y1="0.5" x2="35" y2="0.5" stroke="#AB816C" />
          </svg>
          <svg class="action__prev--hover" width="36" height="8" viewBox="0 0 36 8" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.646477 3.64645C0.451214 3.84171 0.451214 4.15829 0.646477 4.35356L3.82846 7.53554C4.02372 7.7308 4.3403 7.7308 4.53556 7.53554C4.73083 7.34027 4.73083 7.02369 4.53556 6.82843L1.70714 4L4.53556 1.17158C4.73083 0.976313 4.73083 0.659731 4.53556 0.464469C4.3403 0.269207 4.02372 0.269207 3.82846 0.464469L0.646477 3.64645ZM36 3.5L1.00003 3.5L1.00003 4.5L36 4.5L36 3.5Z"
              fill="#876655" />
          </svg>



        </button>
        <span class="slider-indicator"></span>
        <button class="slider-button action__next" data-dir="next">
          <svg class="action__prev--standart" width="36" height="1" viewBox="0 0 35 1" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <line x1="3.05176e-05" y1="0.5" x2="35" y2="0.5" stroke="#AB816C" />
          </svg>
          <svg class="action__next--hover" width="36" height="8" viewBox="0 0 36 8" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M35.3536 4.35355C35.5488 4.15829 35.5488 3.84171 35.3536 3.64645L32.1716 0.464466C31.9763 0.269204 31.6597 0.269204 31.4645 0.464466C31.2692 0.659728 31.2692 0.976311 31.4645 1.17157L34.2929 4L31.4645 6.82843C31.2692 7.02369 31.2692 7.34027 31.4645 7.53553C31.6597 7.7308 31.9763 7.7308 32.1716 7.53553L35.3536 4.35355ZM0 4.5H35V3.5H0V4.5Z"
              fill="#876655" />
          </svg>


        </button>
      </div>
    </div>
  </div>
</section>

<!-- <script scr="./js/slider.js"></script> -->

<script>
  const slider = document.querySelector(".slider");
  const container = document.querySelector(".slider-container");
  const slides = document.querySelectorAll(".slide");
  const navigations = document.querySelectorAll(".slider-button");
  const indicator = document.querySelector(".slider-indicator");
  const rewievs = document.querySelectorAll(".rewievs-text");

  let activeOrder = 0;

  init();

  function init() {
    for (let i = 0; i < slides.length; i++) {
      const slide = slides[i];

      slide.dataset.order = i;

      slide.addEventListener("click", clickHandler);
    }

    for (const navigation of navigations) {
      navigation.addEventListener("click", navigationHandler);
    }

    activeOrder = Math.floor(slides.length / 2);

    update();
  }

  function update() {
    const {
      width,
      height
    } = container.getBoundingClientRect();

    let paddingTop, paddingLeft;
    let c = 0;


    let mediaTablet = window.matchMedia("(max-width: 1279px)");
    let mediaPhone = window.matchMedia("(max-width: 767px)");

    if (mediaPhone.matches) {
      c = 0;
      paddingTop = 150;
      paddingLeft = 375;
    } else if (mediaTablet.matches) {
      paddingTop = 160;
      paddingLeft = 270;
      c = 40;
    } else {
      paddingTop = 150;
      paddingLeft = 375;
      c = 65;
    }

    const a = width / 2;
    const b = height / 2 + c;

    for (let i = 0; i < slides.length; i++) {
      const activeSlide = document.querySelector(
        `.slide[data-order = "${activeOrder}"]`
      );

      const leftSlide = document.querySelector(
        `.slide[data-order = "${activeOrder - i}"]`
      );
      slides[i].classList.remove("active");
      activeSlide.classList.add("active");
      if (leftSlide) {
        leftSlide.style.left = `${a - paddingLeft * i}px`;

        leftSlide.style.top = `${b - paddingTop * i}px`;
      }

      const rightSlide = document.querySelector(
        `.slide[data-order = "${activeOrder + i}"]`
      );

      if (rightSlide) {
        rightSlide.style.left = `${a + paddingLeft * i}px`;

        rightSlide.style.top = `${b - paddingTop * i}px`;
      }

      indicator.textContent = `${activeOrder + 1}/${slides.length}`;
      swapRewievsText();

      let w = window.getComputedStyle(slides[i]).width;
      console.log(w);
    }
  }

  function swapRewievsText() {
    rewievs.forEach((item) => {
      item.style.display = "none";
    });
    rewievs[activeOrder].style.display = "block";
  }

  function clickHandler() {
    const order = parseInt(this.dataset.order, 10);
    activeOrder = order;
    update();
    console.log(navigations);
  }

  function navigationHandler() {
    const {
      dir
    } = this.dataset;

    if (dir === "prev") {
      activeOrder = Math.max(0, activeOrder - 1);
    } else if (dir === "next") {
      activeOrder = Math.min(slides.length - 1, activeOrder + 1);
    }

    update();
  }
</script>