<section id="reviews">
  <h2 class="reviews__title">Reviews</h2>
  <div class="container">
    <div class="slider">
      <div class="slider-container">
        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-2.jpg    1x,
                ./images/reviews/pic@2x-2.jpg 2x
              "
              src="./images/reviews/pic-2.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>

          <span>Denys</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-5.jpg    1x,
                ./images/reviews/pic@2x-5.jpg 2x
              "
              src="./images/reviews/pic-5.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>
          <span>Oleksandr</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-4.jpg    1x,
                ./images/reviews/pic@2x-4.jpg 2x
              "
              src="./images/reviews/pic-4.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>

          <span>Nataly</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-6.jpg    1x,
                ./images/reviews/pic@2x-6.jpg 2x
              "
              src="./images/reviews/pic-6.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>
          <span>Lidiya</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-7.jpg    1x,
                ./images/reviews/pic@2x-7.jpg 2x
              "
              src="./images/reviews/pic-7.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>
          <span>Artem</span>
        </div>

        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-1.jpg    1x,
                ./images/reviews/pic@2x-1.jpg 2x
              "
              src="./images/reviews/pic-1.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg class="empty-star">
              <use href="./images/sprite.svg#empty-star"></use>
            </svg>
          </div>
          <span>Nicholas</span>
        </div>

        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic.jpg    1x,
                ./images/reviews/pic@2x.jpg 2x
              "
              src="./images/reviews/pic.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>
          <span>Dmytro</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-8.jpg    1x,
                ./images/reviews/pic@2x-8.jpg 2x
              "
              src="./images/reviews/pic-8.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>
          <span>Myroslav</span>
        </div>
        <div class="slide">
          <div class="image-wrapper">
            <img
              srcset="
                ./images/reviews/pic-3.jpg    1x,
                ./images/reviews/pic@2x-3.jpg 2x
              "
              src="./images/reviews/pic-3.jpg"
              alt="client photo"
            />
          </div>
          <div class="reviews__rating">
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
            <svg>
              <use href="./images/sprite.svg#fill-star"></use>
            </svg>
          </div>
          <span>Kate</span>
        </div>
      </div>
      <div class="slider-rewiews">
        <p class="rewievs-text">
          Amazing <strong>Header</strong> and hover effect creator
        </p>
        <p class="rewievs-text">
          Sensei | <strong>TEAM LEAD</strong> <br />Those who put soul into
          every part of the site<br />
        </p>
        <p class="rewievs-text">
          Creator of a great <strong>Mobile menu</strong> and menu animation
        </p>
        <p class="rewievs-text">
          Tell your clients everything with <strong>About section</strong>
        </p>
        <p class="rewievs-text">
          Might easily positioning everything, as donats in
          <strong>Program section</strong>
        </p>
        <p class="rewievs-text"><strong>Slider</strong> creator</p>
        <p class="rewievs-text">
          Help to receive a new client with
          <strong>Registration section</strong>
        </p>
        <p class="rewievs-text">
          KING OF <strong>SCRUM</strong> <br />
          Help to solve any question with <strong>Contact section</strong>
        </p>
        <p class="rewievs-text">
          Point on all contact information with <strong>Footer section</strong>
        </p>
        <div class="slider-navigation">
          <button class="slider-button action-prev" data-dir="prev">
            <svg
              class="action__prev--hover"
              width="36"
              height="8"
              viewBox="0 0 36 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.646477 3.64645C0.451214 3.84171 0.451214 4.15829 0.646477 4.35356L3.82846 7.53554C4.02372 7.7308 4.3403 7.7308 4.53556 7.53554C4.73083 7.34027 4.73083 7.02369 4.53556 6.82843L1.70714 4L4.53556 1.17158C4.73083 0.976313 4.73083 0.659731 4.53556 0.464469C4.3403 0.269207 4.02372 0.269207 3.82846 0.464469L0.646477 3.64645ZM36 3.5L1.00003 3.5L1.00003 4.5L36 4.5L36 3.5Z"
                fill="#876655"
              />
            </svg>
          </button>
          <span class="slider-indicator"></span>
          <button class="slider-button action__next" data-dir="next">
            <svg
              class="action__next--hover"
              width="36"
              height="8"
              viewBox="0 0 36 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M35.3536 4.35355C35.5488 4.15829 35.5488 3.84171 35.3536 3.64645L32.1716 0.464466C31.9763 0.269204 31.6597 0.269204 31.4645 0.464466C31.2692 0.659728 31.2692 0.976311 31.4645 1.17157L34.2929 4L31.4645 6.82843C31.2692 7.02369 31.2692 7.34027 31.4645 7.53553C31.6597 7.7308 31.9763 7.7308 32.1716 7.53553L35.3536 4.35355ZM0 4.5H35V3.5H0V4.5Z"
                fill="#876655"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
