
.about-us {
    padding-bottom: 16px;
    // background-color: #E5E5E5;
}

.about-us__image {
    // min-width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}

.about-us__title {
    font-family: 'Caveat Brush';
    font-size: 24px;
    line-height: 1.25;
    text-align: center;

    margin-bottom: 8px;
}

.about-us__description {
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 12px;
}

.button.about-us__button {
    padding: 0;
    text-align: left;
  
    font-family: 'Caveat Brush';
    font-size: 18px;
    line-height: 1.26;
    color: $main-accent;
  
    border: none;
    border-radius: 0;
  
    // background-color: #E5E5E5;
    background-color: transparent;
}