
.about-us-section {
    padding-bottom: 16px;
    // background-color: #E5E5E5;
}

.about-us-section__image {
    width: 279px;
    height: 298px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}

.about-us-section__box {
    position: relative;
}

.about-us-section__title {
    font-family: 'Caveat Brush';
    font-size: 24px;
    line-height: 1.25;
    text-align: center;

    margin-bottom: 8px;
}

.about-us-section__description {
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 12px;
}


.button.about-us-section__button {
    position: absolute;
    bottom: 15%;
    left: 0;

    max-width: 67px;
    height: 23px;
    padding: 0;
    text-align: left;
  
    font-family: 'Caveat Brush';
    font-size: 18px;
    line-height: 1.26;
    color: $main-accent;
  
    border: none;
    border-radius: 0;
  
    // background-color: #E5E5E5;
    background-color: transparent;
}