//ZOOM EFFECT ON HOVER MENU ICONS AND LINKS

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
//OVERLAY
.mob-menu {
  display: block;
  position: fixed;

  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;

  padding: 25px;
  justify-content: center;

  background-color: $menu-beckdrop-color;

  opacity: 0.5;
  transform: translateY(100%);
  transition: all 400ms ease-in;
}
//CLOSE BUTTON
.mob-menu__close-btn {
  position: absolute;
  display: flex;
  z-index: 101;
  cursor: pointer;

  top: 20px;
  right: 20px;

  width: 18px;
  height: 18px;

  padding: 0;
  margin: 0;

  justify-content: center;
  align-items: center;

  background-color: transparent;
  border-style: none;

  @media (min-width: 768px) {
    top: 25px;
    right: 70px;
  }
}
.mob-menu__close-icon {
  transition-property: fill;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.3, 0, 0.2, 1);

  &:hover {
    fill: $menu-accent-color;
    animation: zoom 200ms ease-in;
  }
  &:active {
    fill: $prgm-icon-color;
  }
}
//LOGO (svg)
.mob-menu__logo {
  display: flex;

  margin: 0 auto;
  margin-bottom: 40px;

  width: 190px;
  max-height: 85px;

  fill: $main-color;

  opacity: 0;
  transform: translateY(2%);
  transition: all 1000ms ease-in;
  cursor: pointer;
}
//NAVIGATION
.mob-menu__nav {
  display: flex;
  justify-content: center;
}

.mob-menu__list {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 45px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }

  opacity: 0;

  transform: translateY(2%);
  transition: all 200ms ease-in;
  cursor: pointer;

  &:hover {
    color: $menu-accent-color;
  }

  /*&:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 0;
    background-color: currentColor;
    transition: width 200ms ease-in;
  }*/

  /*&:hover:after {
    width: 100%;
  }*/
}
.mob-menu__link {
  color: currentColor;
  &:active {
    color: $prgm-icon-color;
  }
}

//SMOOTH APPEARANCE EFFECT
.mob-menu.active {
  transform: translateX(0%);
  opacity: 1;
  z-index: 100;

  .mob-menu__logo {
    transition-delay: 0.2s;
  }

  .mob-menu__item--about {
    transition-delay: 0.3s;
  }

  .mob-menu__item--program {
    transition-delay: 0.4s;
  }

  .mob-menu__item--reviews {
    transition-delay: 0.5s;
  }

  .mob-menu__item--contacts {
    transition-delay: 0.6s;
  }

  .mob-menu__item,
  .mob-menu__logo {
    opacity: 1;
    transform: translateX(0%);

    &:hover {
      animation: zoom 200ms ease-in;
    }
  }
}
