.registration{
    &__section{
        padding-bottom: 32px;
        @media (min-width: 767px) {
            padding-bottom: 78px;
            padding-top: 73px;
        }
        @media (min-width: 1280px) {
            padding-top: 80px;
            padding-bottom: 160px;
        }
    }
    &__box{
        background-color:#FFFFF9;
        box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
        border-radius: 150px 150px 0px 0px;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;


        @media (min-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 150px;
            width: 704px;
            height: 260px;
            padding: 0;
            
        }
        
        @media (min-width: 1280px) {
            margin: 0 auto;
            width: 822px;
        }
    }
    

    &__name{
        font-family: 'Caveat Brush';
        padding-top: 32px;
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        color: $main-color;
        margin: 0;
        

        @media (min-width: 768px) {
            position: absolute;
            display: flex;
            justify-content: center;
            padding: 0;
            top: -73px;
            font-size: 24px;
            line-height: 2.7083;
        }
        @media (min-width: 1280px) {
            top: -81px;
            font-size: 36px;
            line-height: 1.8055;
        }
    }

    &__info{
        @media (min-width: 768px) {
            display: flex;           
        }
    }

    &__list{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2222;
        color: $main-color;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $placeholder-color;
        padding-bottom: 20px;
    
        @media (min-width: 768px) {
            border-bottom: none;
            margin-right: 20px;
            text-align: right;
            padding: 0;
        }

        @media (min-width: 1280px) {
            margin-right: 32px;
            font-size: 20px;
            line-height: 1.2;
            padding-bottom: 50px;
        }
    }

    &__date{
        margin: 0;
    }
    &__item{
        padding-top: 0;
    }
    &__item:last-child{
        padding-top: 20px;
    }

    &__form{
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            height: 180px;
            border-left: 1px solid $main-accent;
            padding-left: 27px;
        }
        @media (min-width: 1280px) {
            height: 190px;
            padding-left: 32px;
        }
    }

    &__data{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: $main-color;
        text-align: center;
        @media (min-width: 768px) {
            width: 237px;
        }

    }

    &__data-apply{
        font-size: 16px;
        line-height: 1.2222;
        margin: 0;
        padding-top: 8px;
        padding-bottom: 22px;

        @media (min-width: 768px) {
            font-size: 18px;
            text-align: left;
            padding-top: 0;
            padding-bottom: 18px;
            width: 237px;
        }

        @media (min-width: 1280px) {
            width: 234px;
            font-size: 18px;
        }
    }

    &__input{
        margin: 0 auto;
        width: 264px;
        height: 22px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $main-accent;    
        outline: none;
        background-color:#FFFFF9;
        color: $main-accent;
        margin-top:10px;
        @media (min-width: 768px) {
            width: 237px;
        }

        @media (min-width: 1280px) {
            width: 234px;
        }
    }


    &__input::placeholder{
        color: $placeholder-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-align: start;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    &__label{
        padding-bottom: 22px;
        @media (min-width: 768px) {
            padding-bottom: 0;
        }
    }

    &__button-options{
        display: block;
        background-color: $main-accent;
        border-radius: 25px;
        width: 145px;
        height: 40px;
        border: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.25;
        text-align: center;
        color: $main-bg-color;
        font-family: 'Caveat Brush';

        
      
        @media (min-width: 1280px) {
            width: 158px;
            height: 45px;
            font-size: 24px;
            line-height: 1.25;
            
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 32px;

        @media (min-width: 768px) {
            padding-left: 54px;
            }
        @media (min-width: 1280px) {
            padding-left: 27px;
        }

    }
    &__bagel{
        position: absolute;
    }
}

.contact-name{
    margin-top: 0;
}

.bublic {
    position: absolute;
    width: 200px;
    height: 200px;
top: -70px;
left: -75px;
overflow: hidden;
}