#reviews {
  @include for-tablet {
    padding-top: 23px;
  }

  @include for-laptop {
    padding-top: 36px;
  }

  padding-bottom: 60px;

}

.reviews__title {
  text-align: center;
  margin-bottom: 8px;
  font-family: Caveat Brush;
  font-size: 24px;
  line-height: 1.25;

  @include for-laptop {
    font-size: 36px;
  }
}


.slider {
  // background-color: #FEF3E4;
  /* width: 1200px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slider-container {
  height: 337px;
  position: relative;
  width: 100%;
  margin-bottom: 8px;

  @include for-tablet {
    margin-bottom: 20px;
  }

  @include for-laptop {
    width: 95%;
  }

  svg {
    display: inline-block;
    height: 18px;

  }



  overflow: hidden;

  @include for-tablet {
    height: 469px;

  }

  @include for-laptop {
    height: 597px;
  }
}

.reviews__rating {

  margin: 8px auto;
  fill: currentColor;
  display: flex;
  max-width: 136px;
  color: $main-accent;
}

.empty-star {
  fill: none;
  stroke: $main-accent;
}



img {
  border-radius: 50%;
  width: 100%;
  display: block;
}


.slide {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  width: 152px;


  /* border: 3px solid black; */
  text-align: center;

  font-size: 16px;
  transition: all 0.5s;
  transform: translate(-50%, -50%);

  @include for-tablet {
    opacity: 1;
  }

  @include for-laptop {
    width: 288px;
  }

}

.slide.active {
  width: 280px;
  opacity: 1;

  @include for-tablet {
    width: 336px;

  }

  @include for-laptop {
    width: 400px;
  }

}

@media (max-width:768px) {
  .slide.active {
    width: 280px;
  }
}

.slider-rewiews {
  text-align: center;

  font-size: 18px;
  width: 100%;
  max-width: 1030px;
  position: relative;

  margin-bottom: 32px;


}

.rewievs-text {
  min-height: 45px;
  text-align: center;
}

.slider-rewiews p {
  /* display: none; */
}

.image-wrapper {
  overflow: hidden;
}

.slider-indicator {
  color: $main-accent;
}

.slider-navigation {
  /* position: absolute; */
  bottom: 0px
}

.slider-button {
  height: 20px;

  &:hover {
    .action__prev--standart {
      display: none;
    }

    .action__next--hover,
    .action__prev--hover {
      display: inline;
    }
  }





  /* width: 35px; */
  background-color: transparent;
  border: none;
  padding: 0 10px;
}

.action__next--hover,
.action__prev--hover {
  display: none;
  margin-bottom: 1px;
}

.action__prev {
  &:hover {}
}

.action__prev--standart {
  margin-bottom: 5px;

}

.action__next {}