$main-bg-color: #ffffff;
// почти весь текст в макете
$main-color: #2e2520;
// кнопки и тому подобное
$main-accent: #ab816c;
// секция программа
$prgm-item-bg-color: #fef3e4;
$prgm-icon-color: #674d40;
$btn-text-color: #ffffff;
// Цвет плейсхолдера в форме
$placeholder-color: rgba(171, 129, 108, 0.5);
// доп цвета для меню
$menu-accent-color: #876655;
$menu-beckdrop-color: rgba(254, 243, 228, 0.9);
